ovoslam/submodules/segment-anything-langsplat
/thesis/scene_graph/scene_graph/
/data/working/configs/slam/
/outputs/
/data/Replica/
/data/output/
/data/input/
*.pt
*.aux
*.fdb_latexmk
*.log
*.gz
*.fls
*.pth
*.npz
*.ply
*.pcd
*.ipynb
__pycache__

